
h1{
    text-align: center;
}

section{
    background-color: aliceblue;

    
    
}

.tab{

    display: flex;
    align-items: center;
    font-size: 18px;
    height: 60px;
    background: #f0f8ffff;
    border-bottom: 3px solid;
    border-color: rgb(154, 161, 167);
    padding-left: 60px;
}

.afterCont::after{
    content: '|';
    padding-left: 20px;
    
    
}

button{

    
    font-size: var(--font-size);
    padding: 10px;
    border: none;
    background-color: #f0f8ff2a;
    
    ;
}

.cardsDiv{
    
     margin: non;
     box-sizing: border-box;
     margin-top: 30px;
    gap: 15px; 
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    position: relative;
    
}

.cards{
    background-color: #cfd0d8;
    border: 2px solid black;
    position: relative;
    top: 0;
    /*the transition is decleared here instead of when hovered on
    to make it ease back 0.5s back in place when hovered out
    */
    transition: top ease 0.6s;
    
}

.cards:hover{

    /*move the cards upwards*/
    top: -13px;

    cursor: pointer;
    background-color: #e70f0f98;
    
}

.images{
    width: 100%;
    height: 20rem;
    background-color: green;
}
.images img{

    width: 100%;
    height: 100%;
    object-fit:cover;
    

}

/*@media (min-width: 780px) and (max-width: 1080px) {

    
    .cardsDiv {
     
      background-color: red;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto auto;
      
    }

    .tab{
        font-size: 13px;
    }

    
}*/

@media (min-width: 481px) and (max-width: 780px) {
    .tab{
        font-size:  13px;
    }
    .cardsDiv {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
    }
}

@media(max-width: 480px){
    .tab{
        font-size: 7px;

    }

    .cardsDiv{
        grid-auto-columns: auto;
        background-color: blue;
    }
}







.info span{
    color: rgb(255, 77, 0);
}


.cards div:nth-of-type(2){
    padding: 15px 20px;
    font-size: 20px;
}

#dettagli{
    position: absolute;
    left: 50%;
    border: 2px solid black;
    margin-top: 20px;
    transition: top ease 0.5s;
} 

#dettagli:hover{
 position: relative;
 top: -10px;
}
