* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#evidenza {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 1000;
  font-family: "ElectronicArtsDisplay", "Verdana", "Helvetica", "Arial",
    sans-serif;
}
.centrificatore {
  display: flex;
  justify-content: center;
}
#cardbox {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 960px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, coral);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-family: "ElectronicArtsDisplay", "Verdana", "Helvetica", "Arial",
    sans-serif;
}
.logo {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 40%;
  height: 30%;
  object-fit: contain;
  object-position: center;
}

.card:hover .overlay {
  opacity: 0.8;
}
@media (max-width: 480px) {
  #cardbox {
    grid-template-columns: auto;
  }
  #buttonmore {
    min-width: 300px;
  }
  #evidenza {
    font-size: 25px;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  #cardbox {
    grid-template-columns: auto auto;
  }
}
.card:hover .logo {
  transition: 0.3s ease;
  top: 40px;
}
#buttonmore {
  display: flex;
  justify-content: center;
  border: solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}
#buttonmore:hover {
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.cont1 {
  position: relative;
  text-align: center;
  color: white;
  background-color: cornflowerblue;
}
.eaplay {
  display: flex;
  flex-direction: column;
}
.ffinale {
  text-align: left;
}

.iscriz {
  display: flex;
  justify-content: center;
  border: solid white;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}

.iscriz:hover {
  padding: 15px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.separatore {
  position: absolute;
  transform: translateY(-50%);
  left: 20%;
  top: 40%;
  bottom: 20%;
  right: 40%;
  width: 500px;
}

#logof {
  width: 40%;
  height: 30%;
  object-fit: contain;
  object-position: left;
}
#pcontrol {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  height: 100px;
}
#pcontrolbutton {
  border: 3px solid black;
  border-radius: 2px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 30px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}
#pcontrolbutton:hover {
  padding: 15px 30px;
  margin-top: 25px;
  margin-bottom: 15px;
}
#pcontrolwarning {
  margin-left: 30px;
  font-weight: bolder;
  max-width: 300px;
  margin-top: 20px;
  font-size: larger;
}

#radientPng {
  color: white;
  font-size: larger;
}
#radientPng1 {
  text-align: left;
}
#radientPngButt {
  display: flex;
  gap: 30px;
}

.radientPngButton {
  border: 3px solid white;
  border-radius: 2px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 30px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}
.radientPngButton:hover {
  padding: 15px 30px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.divider {
  margin-top: 20%;
  margin-left: 10%;
}

#footer1 {
  padding: 40px 10%;
  background-color: lightgray;
}
#scrittaTeC {
  font-size: small;
  display: flex;
  margin-bottom: 30px;
}
#linkTeC {
  color: red;
}
#linkTeC:hover {
  cursor: pointer;
}

#linksFooter2 {
  display: flex;
  gap: 30px;
}
#footer2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#socialFooter2 {
  font-weight: bolder;
  font-size: small;
  text-align: end;
}

#socialLinksFooter2 {
  display: flex;
  gap: 10px;
}
.linkFooter2:hover {
  cursor: pointer;
  color: red;
}
.socialLinks {
  margin: 10px 10px;
  height: 22px;
  width: 22px;
  transition: 0, 1 ease;
}
.socialLinks:hover {
  cursor: pointer;
  margin: 5px 5px 10px 10px;
  height: 27px;
  width: 27px;
}
#partecipa {
  margin-bottom: 10px;
}
#trueFooter {
  display: flex;
  justify-content: space-between;
  margin: 20px 10%;
}
#logoEAViolet {
  height: 47px;
  width: 47px;
}
#finalLinks {
  margin: 0% 40px 40px;
}
#eaLinks {
  gap: 30px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.legalLink {
  font-size: small;
}
.legalLink:hover {
  cursor: pointer;
}
#legalLinks {
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px 30px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#copyright {
  margin-top: 20px;
  font-size: small;
}

#regionSelection {
  display: flex;
  justify-content: right;
  gap: 50px;
}
#region {
  border: none;
  font-size: medium;
  padding: 10px;
}
#regionLabel {
  color: rgb(145, 145, 145);
  padding: 10px;
  margin-top: 20px;
}
.selections {
  border: 1px solid rgb(145, 145, 145);
  padding: 10px;
}
#languageLabel {
  color: rgb(145, 145, 145);
  margin-top: 20px;
}
#language {
  border: none;
  font-size: medium;
  padding: 10px;
}
#finalSeal {
  margin-left: 55%;
  margin-top: 15%;
}
