* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#evidenza {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 1000;
  font-family: "ElectronicArtsDisplay", "Verdana", "Helvetica", "Arial",
    sans-serif;
}
.centrificatore {
  display: flex;
  justify-content: center;
}
#cardbox {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 960px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, coral);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-family: "ElectronicArtsDisplay", "Verdana", "Helvetica", "Arial",
    sans-serif;
}
.logo {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 40%;
  height: 30%;
  object-fit: contain;
  object-position: center;
}

.card:hover .overlay {
  opacity: 0.8;
}
@media (max-width: 480px) {
  #cardbox {
    grid-template-columns: auto;
  }
  #buttonmore {
    min-width: 300px;
  }
  #evidenza {
    font-size: 25px;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  #cardbox {
    grid-template-columns: auto auto;
  }
}
.card:hover .logo {
  transition: 0.3s ease;
  top: 40px;
}
#buttonmore {
  display: flex;
  justify-content: center;
  border: solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}
#buttonmore:hover {
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.cont1 {
  position: relative;
  text-align: center;
  color: white;
}
.eaplay {
  display: flex;
  flex-direction: column;
}
.ffinale {
  text-align: left;
}

.iscriz {
  display: flex;
  justify-content: center;
  border: solid white;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: 0.2s ease;
  font-size: large;
  cursor: pointer;
}

.iscriz:hover {
  padding: 15px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#separatore {
  position: absolute;
  transform: translateY(-50%);
  left: 20%;
  top: 40%;
  bottom: 20%;
  right: 40%;
  width: 500px;
}

#logof {
  width: 40%;
  height: 30%;
  object-fit: contain;
  object-position: left;
}
