*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


.topNav ul{
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.954);
    list-style: none;
    padding-right: 20px;
}
.bottomNav{
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    height: 60px;
    
    width: 100%;
    background-color: aquamarine;
    
}

.bottomNav h2{
    color: rgb(78, 13, 230);
    
}
.fa-user, .fa-question{
    color: white;
}

.select{
    background-color: aquamarine;
    border: none;
}
 /* to change*/
.drop{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

.eaP{
    display: inline;
    color: antiquewhite;
}