* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: #161616;
  height: 100%;
  width: 100%;
}

.btnNav {
  display: flex;
  justify-content: end;
  gap: 40px;
  background-color: transparent;
  padding-right: 35px;
}

#iconNav:hover {
  filter: invert(17%) sepia(3%) saturate(236%) hue-rotate(22deg) brightness(96%)
    contrast(88%);
}

.btn {
  background-color: #161616;
  border: none;
  cursor: pointer;
}
.sx-menu {
  margin-left: 20px;
}

.button-sub-nav {
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  line-height: 0;
  gap: 20px;
}

/* ******NAV MENU****** */

.nav-links {
  display: flex;
  background-color: white;
}

.dropbtn {
  background-color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links a {
  font-style: none;
  color: black;
  text-decoration: none;
}

.links-section ul {
  display: flex;
  flex-direction: column;
}

.nav-links li {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 20px;
  gap: 12px;
  width: max-content;
  height: max-content;
}

.games-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 20px;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.links-section {
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: #ff8e8e;
  gap: 20px;
}

.nav-links li:hover > .games-list {
  display: block;
}

/******************************************/

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.cont {
  position: relative;
  text-align: center;
  color: white;
}
.fc25 {
  position: absolute;
  transform: translateY(-50%);
  left: 10%;
  top: 50%;
  bottom: 5%;
}

.play {
  border: none;
  border-radius: 30px;
  padding: 16px 36px;
  margin-top: 2rem;
  background-color: #07f468;
}

.play a {
  text-decoration: none;
  color: #161616;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s;
}

.end {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.info {
  background-color: #ff4d4d;
  margin-left: 1rem;
  padding: 13px;
  font-size: 16px;
  position: relative;
  border: none;
}

.info {
  background-color: #ff4c4c;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 65%);
}

.info a {
  text-decoration: none;
  color: white;
}

.info:hover {
  background-color: #ff3333;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s;
}

/******************************************/
/* @media (max-width: 1024px) {
  .btnNav {
    padding-right: 10px;
    gap: 20px;
  }

  .menu {
    gap: 10px;
  }

  .nav-links {
    display: none;
  }

  .fc25{
    
  }

  .play {
    padding: 12px 24px;
  }

  .end {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .btnNav {
    padding-right: 20px;
    gap: 30px;
  }

  .menu {
    gap: 15px;
  }

  .nav-links {
    display: none;
  }

  .hero-img img {
    object-fit: cover;
  }

  .fc25 {
   
  }

  .play {
    padding: 14px 30px;
  }

  .end {
    margin-top: 2.5rem;
  }
}

@media (min-width: 320px) {
  .btnNav {
    padding-right: 35px;
    gap: 40px;
  }

  .menu {
    gap: 20px;
  }

  .nav-links li {
    padding: 20px;
  }

  .hero-img img {
    object-fit: fill;
  }

  .fc25 {
    bottom: 7rem;
    margin-left: 2rem;
  }

  .play {
    padding: 16px 36px;
  }

  .end {
    margin-top: 3rem;
  }
} */
