* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

/* section {
  background-color: rgb(243, 239, 239);
} */

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 60px;
  background: rgb(243, 239, 239);
}

.afterCont::after {
  content: "|";
  padding-left: 20px;
}

button {
  font-size: var(--font-size);
  padding: 10px;
  border: none;
  background-color: #f0f8ff2a;
}

.cardsDiv {
  margin: 0px 100px;
  box-sizing: border-box;
  margin-top: 10px;
  gap: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
}

.cards {
  height: 490px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  top: 0;
  /*the transition is decleared here instead of when hovered on
    to make it ease back 0.5s back in place when hovered out
    */
  transition: top ease 0.6s;
}

.cards:hover {
  /*move the cards upwards*/
  top: -13px;

  cursor: pointer;
}

.images {
  width: 100%;
  height: 15rem;
  object-fit: contain;
}
.images img {
  width: 100%;
  height: 100%;
}

#dettagli {
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dettagli:hover {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
  transition: 0.1s;
}

.info p {
  font-size: medium;
}

.info span {
  color: rgb(255, 77, 0);
}

.cards div:nth-of-type(2) {
  padding: 15px 20px;
  font-size: 20px;
}

/*@media (min-width: 780px) and (max-width: 1080px) {

    
    .cardsDiv {
     
      background-color: red;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto auto;
      
    }

    .tab{
        font-size: 13px;
    }

    
}*/

@media (min-width: 741px) and (max-width: 1070px) {
  .tab {
    font-size: 16px;
    white-space: nowrap;
  }
  .cardsDiv {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin: 30px 90px;
  }

  .cards {
    width: auto;
  }
}

@media only screen and (max-width: 740px) {
  .tab {
    justify-content: unset;
    font-size: 15px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .tab::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  .cardsDiv {
    grid-template-columns: auto;

    margin: 10px 20px;
  }

  .images {
    display: none;
  }
  .cards {
    height: 120px;
  }

  .info {
    text-align: center;
  }

  .info h3 {
    font-size: 20px;
  }

  .info p {
    display: none;
  }

  #dettagli {
    left: 20px;
    width: 93.5%;
  }

  .redBorder {
    border-bottom: 3px solid red;
  }

  .over {
    background-color: rgb(136, 140, 144);
  }
}
